In [110]:
import numpy  as np
import pandas as pd
import gc
import pprint

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn           as sns

import pandas_alive

from IPython.display import display

leio

In [172]:
df = pd.read_csv("~/Documents/backup_20210417_leio-co/leio_sessions.csv")

In [155]:
df

,Book,Started On,Finished On,Duration,First Page,Last Page,Pages Read,Time/Page
0,Sandman: Edição Especial de 30 Anos – Vol. 9: ...,09/04/21 22:01,09/04/21 23:04,1 h 2 min,1,13,13,4 min 50 s
1,Sandman: Edição Especial de 30 Anos – Vol. 9: ...,17/04/21 16:25,17/04/21 16:55,29 min 34 s,48,76,29,1 min 1 s
2,Sandman: Edição Especial de 30 Anos – Vol. 9: ...,12/04/21 20:11,12/04/21 20:37,26 min 15 s,21,48,28,56 s
3,Sandman: Edição Especial de 30 Anos – Vol. 9: ...,17/04/21 17:29,17/04/21 18:02,32 min 59 s,98,123,26,1 min 16 s
4,Sandman: Edição Especial de 30 Anos – Vol. 9: ...,17/04/21 19:01,17/04/21 19:28,26 min 45 s,123,148,26,1 min 1 s
...,...,...,...,...,...,...,...,...
355,Realismo Capitalista: É mais fácil imaginar o ...,22/12/20 18:32,22/12/20 19:12,39 min 35 s,103,117,15,2 min 38 s
356,Realismo Capitalista: É mais fácil imaginar o ...,22/12/20 17:47,22/12/20 18:17,30 min 3 s,89,103,15,2 min 0 s
357,Realismo Capitalista: É mais fácil imaginar o ...,21/12/20 18:13,21/12/20 18:44,30 min 53 s,55,67,13,2 min 22 s
358,Realismo Capitalista: É mais fácil imaginar o ...,07/12/20 20:48,07/12/20 22:41,42 min 45 s,39,55,17,2 min 30 s
359,Realismo Capitalista: É mais fácil imaginar o ...,07/12/20 20:26,07/12/20 20:48,22 min 10 s,29,39,11,2 min 0 s

In [157]:
df['dt_start'] = pd.to_datetime(df['Started On'], dayfirst=True).dt.strftime('%Y-%m-%d')
df['dt_end']   = pd.to_datetime(df['Finished On'], dayfirst=True).dt.strftime('%Y-%m-%d')

In [158]:
def duration(_str, unit="s"):
    h,m,s = 0,0,0
    if "h" in _str:
        h = int(_str.split("h")[0])
    if "min" in _str:
        m = int(_str.split("h")[-1].split("min")[0])
    if "s" in _str:
        s = int(_str.split("h")[-1].split("min")[-1].split("s")[0])
    
    if unit == "s":
        return h*3600 + m*60 + s
    if unit == "m":
        return h*60 + m + int(s/60)
    if unit == "h":
        return h + int( (m + int(s/60))/60 )

df['dt_dur_s'] = df['Duration'].apply( lambda x: duration(x, "s") )
df['dt_dur_m'] = df['Duration'].apply( lambda x: duration(x, "m") )
df['dt_dur_h'] = df['Duration'].apply( lambda x: duration(x, "h") )

In [159]:
df_sum = df.sort_values(by="dt_end", ascending=False).groupby(["Book", "dt_end"]).agg( {"Pages Read":'sum'} ).groupby(level=0).cumsum().reset_index()

df_sum

                                                  Book      dt_end  Pages Read
0    A Solidao De Um Quadrinho Sem Fim (Em Portugue...  2021-03-30         161
1            A história do Brasil para quem tem pressa  2020-07-31          19
2            A história do Brasil para quem tem pressa  2020-08-01          42
3            A história do Brasil para quem tem pressa  2020-08-29          60
4            A história do Brasil para quem tem pressa  2020-10-12         103
..                                                 ...         ...         ...
203  Viva o povo brasileiro - Edição especial de 30...  2020-07-10           2
204  Viva o povo brasileiro - Edição especial de 30...  2021-03-26          13
205                                            Xondaro  2020-11-21          60
206                                   Índios do Brasil  2020-07-10          32
207                                   Índios do Brasil  2020-07-13          44

[208 rows x 3 columns]

In [166]:
r = pd.date_range(start = df_sum["dt_end"].min(), end = df_sum["dt_end"].max()).strftime('%Y-%m-%d')
display(pd.DataFrame(index=r).join(df_sum.set_index("dt_end")))
display(pd.DataFrame(index=r).join(df_sum.set_index("dt_end")).fillna(method="ffill"))

                                                         Book  Pages Read
2020-07-10                 As Veias Abertas da América Latina        16.0
2020-07-10               Las venas abiertas de América Latina        12.0
2020-07-10  Viva o povo brasileiro - Edição especial de 30...         2.0
2020-07-10                                   Índios do Brasil        32.0
2020-07-11                                                NaN         NaN
...                                                       ...         ...
2021-04-14                                                NaN         NaN
2021-04-15                                                NaN         NaN
2021-04-16                                                NaN         NaN
2021-04-17                  Naoki Urasawa's Monster, Volume 8       434.0
2021-04-17  Sandman: Edição Especial de 30 Anos – Vol. 9: ...       154.0

[342 rows x 2 columns]

                                                         Book  Pages Read
2020-07-10                 As Veias Abertas da América Latina        16.0
2020-07-10               Las venas abiertas de América Latina        12.0
2020-07-10  Viva o povo brasileiro - Edição especial de 30...         2.0
2020-07-10                                   Índios do Brasil        32.0
2020-07-11                                   Índios do Brasil        32.0
...                                                       ...         ...
2021-04-14  Sandman: Edição Especial de 30 Anos – Vol. 9: ...        50.0
2021-04-15  Sandman: Edição Especial de 30 Anos – Vol. 9: ...        50.0
2021-04-16  Sandman: Edição Especial de 30 Anos – Vol. 9: ...        50.0
2021-04-17                  Naoki Urasawa's Monster, Volume 8       434.0
2021-04-17  Sandman: Edição Especial de 30 Anos – Vol. 9: ...       154.0

[342 rows x 2 columns]

In [175]:
pdf = pd.DataFrame(index=r).join(df_sum.set_index("dt_end")).fillna(method="ffill").reset_index().pivot( 
                index   = 'index',
                columns = 'Book',
                values  = 'Pages Read'
              ).fillna(0)

pdf

Book,A Solidao De Um Quadrinho Sem Fim (Em Portugues do Brasil),A história do Brasil para quem tem pressa,A história dos caxinauás por eles mesmos,Abecedário de personagens do folclore brasileiro,Albert Camus,Angola Janga: Uma História de Palmares,As Veias Abertas da América Latina,Beowulf,Biblioteca Eisner - Um Contrato Com Deus,Bonjour,...,Satsuma Gishiden 2: Crônicas dos Leais Guerreiros de Satsuma,Segredos da comédia stand-up,Sharaz-De: Contos de As Mil e Uma Noites; volume 1 de 2,Sin noticias de Gurb,Tanka,Taz,Tupã tenondé,Viva o povo brasileiro - Edição especial de 30 anos,Xondaro,Índios do Brasil
index,,,,,,,,,,,,,,,,,,,,,
2020-07-10,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,32.0
2020-07-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0
2020-07-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0
2020-07-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44.0
2020-07-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-04-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-04-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-04-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-04-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [176]:
pdf.plot_animated(filename   = 'teste3.mp4', 
                  n_visible  = 5,
                  title      = 'TESTE',
                  fixed_max  = True,
                  interpolate_period = False)

Generating BarChartRace, plotting ['A Solidao De Um Quadrinho Sem Fim (Em Portugues do Brasil)', 'A história do Brasil para quem tem pressa', 'A história dos caxinauás por eles mesmos', 'Abecedário de personagens do folclore brasileiro', 'Albert Camus', 'Angola Janga: Uma História de Palmares', 'As Veias Abertas da América Latina', 'Beowulf', 'Biblioteca Eisner - Um Contrato Com Deus', 'Bonjour', 'Cerrado por fútbol', 'Civilizacao Islamica em Trinta Biografias. Os Primeiros Mil Anos (Em Portugues do Brasil)', 'Conto de Areia', 'Couro de Gato: Uma História do Samba', 'Dicionario da Independencia', 'Dilbert. Já Nem Lembro Se Somos Muquiranas ou Espertos', 'Dragão Negro', 'El fútbol a sol y sombra', 'Faces do Humor', 'Historia mínima de Argentina', 'História da vida privada no Brasil - vol. 1', 'Incal (Todo Incal, #1)', 'Introdução a Jacques Lacan', 'Ironias do tempo', 'Kobane Calling: ou como fui parar no meio da guerra na Síria', 'Las venas abiertas de América Latina', 'Macanudo 1', 'Macanudo 10', 'Mafalda, todas las tiras', 'Marighella #LIVRE', 'Maxwell, O Gato Mágico', 'Monster Kanzenban Volume 2', "Monster Kazenban, Volume 1 (Naoki Urasawa's Monster: Kanzenban, #1)", 'Monster Kazenban, Volume 7', 'Moonshadow', 'Mulheres Livres: a luta pela emancipação feminina e a Guerra Civil Espanhola', "Naoki Urasawa's Monster, Vol. 4", "Naoki Urasawa's Monster, Vol. 5", "Naoki Urasawa's Monster, Volume 3 (Naoki Urasawa's Monster: Kanzenban, #3)", "Naoki Urasawa's Monster, Volume 6 (Naoki Urasawa's Monster: Kanzenban, #6)", "Naoki Urasawa's Monster, Volume 8", 'O Anel do Nibelungo', 'O Capital: Extratos por Paul Lafargue', 'O Preço da Desonra: Kubidai Hikiukenin', 'O Problema dos três corpos (Remembrance of Earth’s Past, #1)', 'O Relatório de Brodeck', 'O homem revoltado', 'O oráculo da noite', 'Os jacobinos negros', 'Otelo, O Mouro de Veneza', 'Pele Negra, Máscaras Brancas', 'Pierre Bourdieu. Conceitos Fundamentais', 'Realismo Capitalista: É mais fácil imaginar o fim do mundo do que o fim do capitalismo?', 'SOBRE O ESTADO - Cursos no Collège de France (1989-92)', 'Saga of the Swamp Thing Book Four', 'Sandman 30 anos #8', 'Sandman: Edição Especial De 30 Anos – Vol. 1: Prelúdios & Noturnos (The Sandman, #1)', 'Sandman: Edição Especial De 30 Anos – Vol. 2: Casa de Bonecas (The Sandman, #2)', 'Sandman: Edição Especial De 30 Anos – Vol. 3: Terra dos Sonhos (The Sandman, #3)', 'Sandman: Edição Especial De 30 Anos – Vol. 4: Estação das Brumas (The Sandman, #4)', 'Sandman: Edição Especial De 30 Anos – Vol. 5: Um Jogo de Você (The Sandman, #5)', 'Sandman: Edição Especial de 30 Anos – Vol. 6: Fábulas e Reflexões (The Sandman #6)', 'Sandman: Edição Especial de 30 Anos – Vol. 8: Fim dos Mundos (The Sandman #8)', 'Sandman: Edição Especial de 30 Anos – Vol. 9: Entes Queridos (The Sandman, #9)', 'Satsuma Gishiden 1: Crônicas dos Leais Guerreiros de Satsuma', 'Satsuma Gishiden 2: Crônicas dos Leais Guerreiros de Satsuma', 'Segredos da comédia stand-up', 'Sharaz-De: Contos de As Mil e Uma Noites; volume 1 de 2', 'Sin noticias de Gurb', 'Tanka', 'Taz', 'Tupã tenondé', 'Viva o povo brasileiro - Edição especial de 30 anos', 'Xondaro', 'Índios do Brasil']

/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 127 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 128 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 129 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 130 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 131 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 132 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 133 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 134 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 135 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 136 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 137 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 138 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 139 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 140 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 141 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 142 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 143 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 144 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 127 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 128 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 129 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 130 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 131 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 132 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 133 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 134 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 135 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 136 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 137 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 138 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 139 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 140 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 141 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 142 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 143 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 144 missing from current font.
  font.set_text(s, 0, flags=flags)
/home/dusodeth/.local/lib/python3.8/site-packages/pandas_alive/charts.py:221: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df.columns)
/home/dusodeth/.local/lib/python3.8/site-packages/pandas_alive/charts.py:222: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))

BarChartRace(df=Book        A Solidao De Um Quadrinho Sem Fim (Em Portugues do Brasil)  \
index
2020-07-10                                                0.0
2020-07-10                                                0.0
2020-07-10                                                0.0
2020-07-10                                                0.0
2020-07-10                                                0.0
...                                                       ...
2021-04-16                                                0.0
2021-04-16                                                0.0
2021-04-16                                                0.0
2021-04-16                                                0.0
2021-04-17                                                0.0

Book        A história do Brasil para quem tem pressa  \
index
2020-07-10                                        0.0
2020-07-10                                        0.0
2020-07-10                                        0.0
2020-07-10                                        0.0
2020-07-10                                        0.0
...                                               ...
2021-04-16                                        0.0
2021-04-16                                        0.0
2021-04-16                                        0.0
2021-04-16                                        0.0
2021-04-17                                        0.0

Book        A história dos caxinauás por eles mesmos  \
index
2020-07-10                                       0.0
2020-07-10                                       0.0
2020-07-10                                       0.0
2020-07-10                                       0.0
2020-07-10                                       0.0
...                                              ...
2021-04-16                                       0.0
2021-04-16                                       0.0
2021-04-16                                       0.0
2021-04-16                                       0.0
2021-04-17                                       0.0

Book        Abecedário de personagens do folclore brasileiro  Albert Camus  \
index
2020-07-10                                               0.0           0.0
2020-07-10                                               0.0           0.0
2020-07-10                                               0.0           0.0
2020-07-10                                               0.0           0.0
2020-07-10                                               0.0           0.0
...                                                      ...           ...
2021-04-16                                               0.0           0.0
2021-04-16                                               0.0           0.0
2021-04-16                                               0.0           0.0
2021-04-16                                               0.0           0.0
2021-04-17                                               0.0           0.0

Book        Angola Janga: Uma História de Palmares  \
index
2020-07-10                                     0.0
2020-07-10                                     0.0
2020-07-10                                     0.0
2020-07-10                                     0.0
2020-07-10                                     0.0
...                                            ...
2021-04-16                                     0.0
2021-04-16                                     0.0
2021-04-16                                     0.0
2021-04-16                                     0.0
2021-04-17                                     0.0

Book        As Veias Abertas da América Latina  Beowulf  \
index
2020-07-10                                16.0      0.0
2020-07-10                                12.8      0.0
2020-07-10                                 9.6      0.0
2020-07-10                                 6.4      0.0
2020-07-10                                 3.2      0.0
...                                        ...      ...
2021-04-16                                 0.0      0.0
2021-04-16                                 0.0      0.0
2021-04-16                                 0.0      0.0
2021-04-16                                 0.0      0.0
2021-04-17                                 0.0      0.0

Book        Biblioteca Eisner - Um Contrato Com Deus  Bonjour  ...  \
index                                                          ...
2020-07-10                                       0.0      0.0  ...
2020-07-10                                       0.0      0.0  ...
2020-07-10                                       0.0      0.0  ...
2020-07-10                                       0.0      0.0  ...
2020-07-10                                       0.0      0.0  ...
...                                              ...      ...  ...
2021-04-16                                       0.0      0.0  ...
2021-04-16                                       0.0      0.0  ...
2021-04-16                                       0.0      0.0  ...
2021-04-16                                       0.0      0.0  ...
2021-04-17                                       0.0      0.0  ...

Book        Satsuma Gishiden 2: Crônicas dos Leais Guerreiros de Satsuma  \
index
2020-07-10                                                0.0
2020-07-10                                                0.0
2020-07-10                                                0.0
2020-07-10                                                0.0
2020-07-10                                                0.0
...                                                       ...
2021-04-16                                                0.0
2021-04-16                                                0.0
2021-04-16                                                0.0
2021-04-16                                                0.0
2021-04-17                                                0.0

Book        Segredos da comédia stand-up  \
index
2020-07-10                           0.0
2020-07-10                           0.0
2020-07-10                           0.0
2020-07-10                           0.0
2020-07-10                           0.0
...                                  ...
2021-04-16                           0.0
2021-04-16                           0.0
2021-04-16                           0.0
2021-04-16                           0.0
2021-04-17                           0.0

Book        Sharaz-De: Contos de As Mil e Uma Noites; volume 1 de 2  \
index
2020-07-10                                                0.0
2020-07-10                                                0.0
2020-07-10                                                0.0
2020-07-10                                                0.0
2020-07-10                                                0.0
...                                                       ...
2021-04-16                                                0.0
2021-04-16                                                0.0
2021-04-16                                                0.0
2021-04-16                                                0.0
2021-04-17                                                0.0

Book        Sin noticias de Gurb  Tanka  Taz  Tupã tenondé  \
index
2020-07-10                   0.0    0.0  0.0           0.0
2020-07-10                   0.0    0.0  0.0           0.0
2020-07-10                   0.0    0.0  0.0           0.0
2020-07-10                   0.0    0.0  0.0           0.0
2020-07-10                   0.0    0.0  0.0           0.0
...                          ...    ...  ...           ...
2021-04-16                   0.0    0.0  0.0           0.0
2021-04-16                   0.0    0.0  0.0           0.0
2021-04-16                   0.0    0.0  0.0           0.0
2021-04-16                   0.0    0.0  0.0           0.0
2021-04-17                   0.0    0.0  0.0           0.0

Book        Viva o povo brasileiro - Edição especial de 30 anos  Xondaro  \
index
2020-07-10                                                2.0        0.0
2020-07-10                                                1.6        0.0
2020-07-10                                                1.2        0.0
2020-07-10                                                0.8        0.0
2020-07-10                                                0.4        0.0
...                                                       ...        ...
2021-04-16                                                0.0        0.0
2021-04-16                                                0.0        0.0
2021-04-16                                                0.0        0.0
2021-04-16                                                0.0        0.0
2021-04-17                                                0.0        0.0

Book        Índios do Brasil
index
2020-07-10              32.0
2020-07-10              32.0
2020-07-10              32.0
2020-07-10              32.0
2020-07-10              32.0
...                      ...
2021-04-16               0.0
2021-04-16               0.0
2021-04-16               0.0
2021-04-16               0.0
2021-04-17               0.0

[1406 rows x 75 columns], interpolate_period=False, steps_per_period=5, period_length=500, period_fmt='%d/%m/%Y', figsize=array([6.5, 3.5]), title='TESTE', fig=<Figure size 936x504 with 1 Axes>, cmap='dark24', tick_label_size=7, period_label=True, period_summary_func=None, fixed_max=True, dpi=144, writer=None, enable_progress_bar=False, kwargs={}, orientation='h', sort='desc', label_bars=True, bar_label_size=7, n_visible=5, fixed_order=False, perpendicular_bar_func=None)

In [121]:
for b in df["Book"].unique():
    print(b)
    subdf = df[df["Book"].isin([b])].sort_values(by="dt_end", ascending=False)
    subg  = subdf.groupby(["dt_end"]).agg( {"Pages Read":'sum'} )
    display(subg.cumsum())

Sandman: Edição Especial de 30 Anos – Vol. 9: Entes Queridos (The Sandman, #9)

            Pages Read
dt_end
2021-04-09          13
2021-04-12          50
2021-04-17         154

Marighella #LIVRE

            Pages Read
dt_end
2020-10-11          64

Sandman: Edição Especial De 30 Anos – Vol. 5: Um Jogo de Você (The Sandman, #5)

            Pages Read
dt_end
2020-08-23          98
2020-08-25         196

Las venas abiertas de América Latina

            Pages Read
dt_end
2020-07-10          12

Ironias do tempo

            Pages Read
dt_end
2021-03-18           3

Abecedário de personagens do folclore brasileiro

            Pages Read
dt_end
2020-08-25          16

Satsuma Gishiden 2: Crônicas dos Leais Guerreiros de Satsuma

            Pages Read
dt_end
2021-01-25          65
2021-01-31         129

SOBRE O ESTADO - Cursos no Collège de France (1989-92)

            Pages Read
dt_end
2021-03-22          12
2021-03-24          22

Faces do Humor

            Pages Read
dt_end
2021-02-10          14
2021-02-11          32
2021-03-14          38

Angola Janga: Uma História de Palmares

            Pages Read
dt_end
2020-10-07          54

Historia mínima de Argentina

            Pages Read
dt_end
2021-03-27          10

Monster Kanzenban Volume 2

            Pages Read
dt_end
2020-11-17          54
2020-11-19         179
2020-11-20         276
2020-11-21         432

Naoki Urasawa's Monster, Volume 3 (Naoki Urasawa's Monster: Kanzenban, #3)

            Pages Read
dt_end
2020-11-28          54
2020-11-29         440

El fútbol a sol y sombra

            Pages Read
dt_end
2021-01-14          26
2021-01-16          36
2021-01-22          48

Civilizacao Islamica em Trinta Biografias. Os Primeiros Mil Anos (Em Portugues do Brasil)

            Pages Read
dt_end
2020-11-27          11
2020-12-18          14
2020-12-20          34

Albert Camus

            Pages Read
dt_end
2020-08-06          17

Mafalda, todas las tiras

            Pages Read
dt_end
2020-07-30          20
2020-07-31          35
2020-08-01          79
2020-08-07         102
2020-08-17         115
2020-08-20         128
2020-09-24         138
2020-10-11         180
2021-01-24         194
2021-01-25         200
2021-01-27         223
2021-02-02         252
2021-03-23         306
2021-03-25         308

Xondaro

            Pages Read
dt_end
2020-11-21          60

Viva o povo brasileiro - Edição especial de 30 anos

            Pages Read
dt_end
2020-07-10           2
2021-03-26          13

Monster Kazenban, Volume 1 (Naoki Urasawa's Monster: Kanzenban, #1)

            Pages Read
dt_end
2020-11-14         219
2020-11-16         435

O Relatório de Brodeck

            Pages Read
dt_end
2020-10-24         336

O Preço da Desonra: Kubidai Hikiukenin

            Pages Read
dt_end
2020-10-17         395

Sandman: Edição Especial De 30 Anos – Vol. 2: Casa de Bonecas (The Sandman, #2)

            Pages Read
dt_end
2020-08-12          30
2020-08-13         153
2020-08-14         240

Sandman 30 anos #8

            Pages Read
dt_end
2020-10-07          34
2020-10-08          61
2020-10-09          88
2020-10-10         115
2020-10-11         264

Bonjour

            Pages Read
dt_end
2021-02-10          18
2021-02-13         130

Pierre Bourdieu. Conceitos Fundamentais

            Pages Read
dt_end
2021-03-19           2
2021-03-22           8

Mulheres Livres: a luta pela emancipação feminina e a Guerra Civil Espanhola

            Pages Read
dt_end
2020-11-13          30
2020-11-21          60

O Anel do Nibelungo

            Pages Read
dt_end
2020-08-09         225
2020-09-20         290
2020-09-21         323
2020-09-23         453

A história do Brasil para quem tem pressa

            Pages Read
dt_end
2020-07-31          19
2020-08-01          42
2020-08-29          60
2020-10-12         103
2020-10-13         134
2020-10-18         151
2020-12-05         172
2020-12-06         240

Pele Negra, Máscaras Brancas

            Pages Read
dt_end
2020-09-25          24
2020-09-26          53
2020-09-28          71
2020-09-30          86
2020-10-01          98
2020-10-29         108

A história dos caxinauás por eles mesmos

            Pages Read
dt_end
2020-12-19          57

Sandman: Edição Especial de 30 Anos – Vol. 6: Fábulas e Reflexões (The Sandman #6)

            Pages Read
dt_end
2020-08-28          27
2020-08-29          49
2020-08-30         103
2020-09-03         130
2020-09-07         157
2020-09-13         185
2020-09-14         237
2020-09-15         273

Cerrado por fútbol

            Pages Read
dt_end
2021-03-28          30

A Solidao De Um Quadrinho Sem Fim (Em Portugues do Brasil)

            Pages Read
dt_end
2021-03-30         161

Couro de Gato: Uma História do Samba

            Pages Read
dt_end
2020-11-14          28
2020-12-25          91
2020-12-26         148

As Veias Abertas da América Latina

            Pages Read
dt_end
2020-07-10          16
2020-08-24          22

Naoki Urasawa's Monster, Vol. 4

            Pages Read
dt_end
2020-11-30         163
2020-12-02         420

Tupã tenondé

            Pages Read
dt_end
2020-09-16          38

Tanka

            Pages Read
dt_end
2020-11-28          73

Sandman: Edição Especial De 30 Anos – Vol. 3: Terra dos Sonhos (The Sandman, #3)

            Pages Read
dt_end
2020-08-15           3
2020-08-16          66
2020-08-19          93
2020-08-20         163
2020-09-21         164

Otelo, O Mouro de Veneza

            Pages Read
dt_end
2020-11-22          21
2020-11-24          41

Os jacobinos negros

            Pages Read
dt_end
2020-08-26          22
2020-08-27          31
2020-08-31          43
2020-09-01          49
2020-09-02          54
2021-04-05          67

O Problema dos três corpos (Remembrance of Earth’s Past, #1)

            Pages Read
dt_end
2021-03-01          20

Moonshadow

            Pages Read
dt_end
2020-10-18          68
2020-10-19         101
2020-10-20         138
2020-10-21         154
2020-10-22         158
2020-10-23         169
2020-10-24         211
2020-11-08         252
2020-11-09         315
2020-11-21         420
2020-11-26         543

Dicionario da Independencia

            Pages Read
dt_end
2020-10-24           9

Saga of the Swamp Thing Book Four

            Pages Read
dt_end
2020-11-13          36
2020-11-14          61

Introdução a Jacques Lacan

            Pages Read
dt_end
2020-09-26          15
2020-10-08          36
2020-10-11          72

Dragão Negro

            Pages Read
dt_end
2020-12-29          54
2020-12-31          68
2021-01-03         124
2021-01-08         158
2021-01-09         211

Macanudo 10

            Pages Read
dt_end
2021-02-10          17

Satsuma Gishiden 1: Crônicas dos Leais Guerreiros de Satsuma

            Pages Read
dt_end
2020-10-24          87
2020-10-25         465

Conto de Areia

            Pages Read
dt_end
2020-11-14         165

O homem revoltado

            Pages Read
dt_end
2020-08-20         121

Naoki Urasawa's Monster, Volume 8

            Pages Read
dt_end
2021-04-17         434

Beowulf

            Pages Read
dt_end
2020-09-24         204

Naoki Urasawa's Monster, Volume 6 (Naoki Urasawa's Monster: Kanzenban, #6)

            Pages Read
dt_end
2021-01-10         412

Incal (Todo Incal, #1)

            Pages Read
dt_end
2021-02-15          43
2021-02-16          55
2021-02-17         101
2021-02-20         128
2021-03-14         152
2021-03-20         225
2021-03-21         274
2021-03-22         336

Sandman: Edição Especial de 30 Anos – Vol. 8: Fim dos Mundos (The Sandman #8)

            Pages Read
dt_end
2021-01-17          38
2021-01-23          65
2021-01-24          92
2021-01-25         117
2021-01-27         173

Sharaz-De: Contos de As Mil e Uma Noites; volume 1 de 2

            Pages Read
dt_end
2020-12-25         168

O oráculo da noite

            Pages Read
dt_end
2020-07-28          11
2020-07-29          19
2020-07-31          33
2020-09-15          41

História da vida privada no Brasil - vol. 1

            Pages Read
dt_end
2020-10-08          16

Macanudo 1

            Pages Read
dt_end
2021-02-24          45
2021-03-07          89
2021-03-11          98

Monster Kazenban, Volume 7

            Pages Read
dt_end
2021-01-11         418

Sandman: Edição Especial De 30 Anos – Vol. 4: Estação das Brumas (The Sandman, #4)

            Pages Read
dt_end
2020-08-21          39
2020-08-22         243

Índios do Brasil

            Pages Read
dt_end
2020-07-10          32
2020-07-13          44

Maxwell, O Gato Mágico

            Pages Read
dt_end
2020-08-07          14
2020-08-09          22
2020-10-31          32
2020-12-30          35

O Capital: Extratos por Paul Lafargue

            Pages Read
dt_end
2020-11-27          18
2020-12-13          78

Sin noticias de Gurb

            Pages Read
dt_end
2021-03-28           8

Biblioteca Eisner - Um Contrato Com Deus

            Pages Read
dt_end
2020-10-18          20

Naoki Urasawa's Monster, Vol. 5

            Pages Read
dt_end
2021-01-10         409

Dilbert. Já Nem Lembro Se Somos Muquiranas ou Espertos

            Pages Read
dt_end
2021-02-13          38
2021-02-15          67
2021-03-04          94

Kobane Calling: ou como fui parar no meio da guerra na Síria

            Pages Read
dt_end
2021-01-09          48
2021-01-10          67
2021-01-16         137
2021-01-18         159
2021-01-20         202
2021-01-24         281

Segredos da comédia stand-up

            Pages Read
dt_end
2021-02-12           7
2021-03-14          11
2021-03-17          13

Taz

            Pages Read
dt_end
2020-12-25          43
2020-12-28          57
2020-12-29          92

Sandman: Edição Especial De 30 Anos – Vol. 1: Prelúdios & Noturnos (The Sandman, #1)

            Pages Read
dt_end
2020-08-09         152
2020-08-10         230
2020-08-11         244

Realismo Capitalista: É mais fácil imaginar o fim do mundo do que o fim do capitalismo?

            Pages Read
dt_end
2020-11-27          21
2020-12-07          58
2020-12-21          94
2020-12-22         141
2020-12-23         186
2020-12-24         233

In [188]:
pd.DataFrame(index=r).join(df_sum.set_index("dt_end")).fillna(method="ffill")["Pages Read"].cumsum().fillna(method="ffill")

2020-07-10       16.0
2020-07-10       28.0
2020-07-10       30.0
2020-07-10       62.0
2020-07-11       94.0
               ...
2021-04-14    39754.0
2021-04-15    39804.0
2021-04-16    39854.0
2021-04-17    40288.0
2021-04-17    40442.0
Name: Pages Read, Length: 342, dtype: float64

In [190]:
pd.DataFrame(index=r).join(df_sum.set_index("dt_end")).fillna(method="ffill")["Pages Read"].cumsum().fillna(method="ffill").plot_animated(kind='line',filename="teste.mp4",title="TESTE")

Generating LineChart, plotting ['Pages Read']

/home/dusodeth/.local/lib/python3.8/site-packages/pandas_alive/_base_chart.py:458: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df.columns)
/home/dusodeth/.local/lib/python3.8/site-packages/pandas_alive/_base_chart.py:459: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))

RuntimeError: Ensure that a matplotlib writer library is installed, see https://github.com/JackMcKew/pandas_alive/blob/main/README.md#requirements for more details